*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.toast {
  padding: 0.75em;
  border: 1px solid #000;
  border-radius: 0.25em;
  width: 280px;
  position: relative;
  cursor: pointer;
}
.toast::after {
  content: "\00D7";
  position: absolute;
  top: 5px;
  right: 5px;
}
.toast-container {
  position: fixed;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.toast-container[data-position^="top-"] {
  top: 0;
}
.toast-container[data-position^="bottom-"] {
  bottom: 0;
}
.toast-container[data-position$="-right"] {
  right: 0;
}
.toast-container[data-position$="-left"] {
  left: 0;
}
